<!-- app/templates/admin/room_form.html -->

{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">{% if room %}Edit Room {% else %}Add New Room{% endif %}</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="room_number" class="form-label">Room Number</label>
            <input type="text" class="form-control" id="room_number" name="room_number" value="{{ room.room_number if room }}" required>
        </div>

        <div class="mb-3">
            <label for="room_type" class="form-label">Room Type</label>
            <select class="form-control" id="room_type" name="room_type" required>
                <option value="SINGLE" {% if room and room.type == "SINGLE" %} selected {% endif %}>Single</option>
                <option value="DOUBLE" {% if room and room.type == "DOUBLE" %} selected {% endif %}>Double</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3">{{ room.description if room }}</textarea>
        </div>

        <div class="mb-3">
            <label for="room_price" class="form-label">Room Price (Per Night)</label>
            <input type="number" class="form-control" id="room_price" name="room_price" value="{{ room.price if room }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Amenities</label>
            <div>
                {% for amenity in amenities %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="amenities" id="amenity-{{ amenity.id }}" value="{{ amenity.id }}" {% if amenity in room.amenities %}checked{% endif %}>
                        <label class="form-check-label" for="amenity-{{ amenity.id }}">{{ amenity.name }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="mb-3">
            <label for="photos" class="form-label">Room Photos</label>
            <input type="file" class="form-control" id="photos" name="photos" multiple>
        </div>

        <button type="submit" class="btn btn-primary">{% if room %}Update Room{% else %}Add Room{% endif %}</button>
    </form>
</div>
{% endblock %}



