<!-- app\templates\admin\view_room_bookings.html -->

{% extends "base.html" %}

{% block content %}
<h2>Bookings for Room {{ room.room_number }} ({{ room.type.value }} - {{ room.price }}) - Status: {{ room.status }}</h2>
<table class="table">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>User</th>
            <th>Check-In Date</th>
            <th>Check-Out Date</th>
            <th>Status</th> <!-- Booking Status -->
            <th>Total Price</th> <!-- Booking Total Price -->
            <th>Action</th> <!-- Column for delete action -->
        </tr>
    </thead>
    <tbody>
        {% for booking in room.bookings %}
        <tr>
            <td>{{ booking.id }}</td>
            <td>{{ booking.user.username }} ({{ booking.user.email }})</td>
            <td>{{ booking.start_date }}</td>
            <td>{{ booking.end_date }}</td>
            <td>{{ booking.status.value }}</td>
            <td>{{ booking.total_price }}</td>
            <!-- Delete button for each booking -->
            <td>
                <form action="{{ url_for('admin.delete_booking', booking_id=booking.id) }}" method="POST">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('admin.admin_dashboard') }}" class="btn btn-secondary">Back to Dashboard</a>
{% endblock %}
